@font-face {
  font-family: "troublefont";
  src: url(../../font/troublefont.woff); }

@font-face {
  font-family: 'dinbd';
  src: url(../../font/dinbd.woff); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  cursor: url(../img/cursor.png), auto; }

.wrapper {
  overflow-x: hidden; }

a {
  transition: all .3s linear; }

a:hover {
  color: #d6e033 !important; }

@font-face {
  font-family: 'dinbt';
  src: url("../font/dinbd.woff") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'troublefont';
  src: url("../font/troublefont.woff") format("woff2");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Times', sans-serif;
  min-width: 375px; }

.header__item {
  font-size: 16px;
  color: white; }
  .header__item a {
    transition: all 0.3s linear; }
  .header__item.active {
    color: #d6e033; }
  .header__item a:hover, .header__item a:active, .header__item a:focus {
    color: #d6e033; }

.header__login {
  color: #d6e033 !important; }

.burger-menu {
  font-size: 12px;
  font-family: "dinbd"; }

.slider {
  color: white; }
  .slider__caption {
    color: black;
    text-transform: uppercase;
    font-family: "troublefont";
    font-size: 83px;
    line-height: 1.1; }
    @media screen and (max-width: 1200px) {
      .slider__caption {
        font-size: 63px; } }
    @media screen and (max-width: 1000px) {
      .slider__caption {
        font-size: 43px; } }
    @media screen and (max-width: 550px) {
      .slider__caption {
        font-size: 26px; } }

.about__title {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2px; }

.about__text {
  font-family: "dinbd";
  color: #8d8d8d;
  font-size: 18px; }

.about__link {
  font-family: "troublefont";
  color: black;
  margin-left: 10%;
  position: relative;
  letter-spacing: 2px;
  display: inline-block;
  font-size: 25px; }
  .about__link::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    position: absolute;
    top: -10px; }

.stats__item-digits {
  color: #f47920;
  text-align: left;
  font-family: "dinbd";
  font-size: 56px; }
  @media screen and (max-width: 1000px) {
    .stats__item-digits {
      font-size: 40px; } }

.stats__heading {
  font-family: "troublefont";
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2px; }

.stats__item-title {
  font-family: "dinbd";
  font-size: 27px;
  line-height: 25px;
  text-align: left; }
  @media screen and (max-width: 768px) {
    .stats__item-title {
      font-size: 22px; } }

.team {
  font-size: 30px;
  font-weight: 700;
  color: black;
  text-align: center; }
  .team__text-p1, .team__text-p2 {
    font-family: "troublefont";
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: 700; }
    @media screen and (max-width: 1200px) {
      .team__text-p1, .team__text-p2 {
        font-size: 38px; } }
    @media screen and (max-width: 768px) {
      .team__text-p1, .team__text-p2 {
        font-size: 25px; } }
  .team__lead-text-container {
    font-size: 34px;
    letter-spacing: 1px;
    line-height: 1;
    font-weight: 700;
    font-family: "troublefont"; }
  .team__lead-text-inner {
    text-shadow: -6px 3px 0 #484141, -10px 11px 0 #00000038;
    color: white; }

.events__text {
  font-family: 'troublefont';
  text-align: right;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center; }

.events__title {
  font-family: "troublefont";
  font-size: 48px;
  letter-spacing: 2px;
  font-weight: 700; }

.events__subtitle {
  font-family: "dinbd";
  font-size: 24px; }

.events__link {
  font-size: 25px;
  letter-spacing: 2px;
  text-align: center;
  font-family: "troublefont";
  text-decoration: underline; }

.ever__title {
  font-family: "troublefont";
  font-size: 48px;
  letter-spacing: 2px;
  font-weight: 700; }
  @media screen and (max-width: 768px) {
    .ever__title {
      font-size: 35px; } }

.leftSlider__title {
  font-family: "troublefont";
  font-size: 25px;
  font-weight: 700;
  color: #f47920; }

.leftSlider__artistName {
  font-family: "dinbd";
  font-size: 18px;
  font-weight: 700; }

.leftSlider__text {
  font-size: 15px;
  color: #8d8d8d; }

.rightSlider__artistName {
  font-size: 34px;
  font-family: "dinbd";
  text-align: center;
  color: white; }

.artists__slider-title {
  color: #f47920;
  font-size: 25px; }

.artists__slider-name {
  text-transform: uppercase; }

.events__text-box2 {
  text-align: center; }

.events__title-2 {
  display: inline-block;
  background-color: white;
  padding: 5px 10px;
  border: 1px solid black;
  box-shadow: #fff -13px -13px 0 0, #000 -14px -14px 0 0, #000 -12px -12px 0 0, #000 -12px -14px 0 0, #000 -14px -12px 0 0; }

.footer__title {
  font-family: "troublefont";
  font-size: 48px;
  letter-spacing: 2px;
  font-weight: 700; }

* {
  padding: 0px;
  margin: 0px;
  border: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

a, a:link, a:visited {
  color: inherit; }

ul {
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul {
  list-style-type: none; }

img, svg {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%; }

.slider {
  position: relative;
  background-color: black;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 69px, rgba(255, 255, 255, 0.22) 69px, rgba(255, 255, 255, 0.23) 70px), linear-gradient(90deg, rgba(255, 255, 255, 0) 69px, rgba(255, 255, 255, 0.05) 69px, rgba(255, 255, 255, 0.21) 70px);
  background-size: 70px 70px, 70px 70px;
  height: 700px; }
  @media screen and (max-width: 1200px) {
    .slider {
      height: 400px; } }
  @media screen and (max-width: 1000px) {
    .slider {
      padding-top: 200px;
      height: 700px; } }
  .slider .container {
    position: relative; }
  .slider__heading {
    padding: 30px 15px;
    background-color: white;
    box-shadow: #f47920 10px 10px;
    z-index: 1; }
    @media screen and (min-width: 992px) {
      .slider__heading {
        width: 75% !important;
        margin-left: auto; } }
  @media screen and (min-width: 1440px) {
    .slider__heading {
      position: relative;
      top: 100px; } }
  .slider__inner {
    overflow: visible; }
  .slider__item {
    position: relative !important;
    animation: filter 1s linear; }

@keyframes filter {
  0% {
    filter: grayscale(0%); }
  20% {
    filter: grayscale(100%); }
  50% {
    filter: grayscale(80%); }
  100% {
    filter: grayscale(0%); } }
  .slider__caption-container {
    position: absolute !important;
    z-index: 100;
    text-align: left;
    width: 100% !important;
    display: inline-block !important;
    top: 10%; }
    @media screen and (max-width: 1000px) {
      .slider__caption-container {
        left: 0;
        top: unset;
        right: 0;
        bottom: 100%; } }
  .slider__caption {
    display: inline-block;
    padding: 15px;
    background-color: white !important;
    position: relative;
    right: 40%;
    max-width: 60%; }
    @media screen and (max-width: 1000px) {
      .slider__caption {
        display: block;
        right: 0;
        bottom: 100%; } }
  .slider__btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    box-shadow: #fff -4px -1px 0;
    position: absolute;
    top: 50%;
    opacity: 1; }
    .slider__btn svg {
      fill: white;
      padding: 5px; }

.adv-slider {
  position: absolute;
  top: 140%; }
  .adv-slider__container {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 69px, rgba(255, 255, 255, 0.22) 69px, rgba(255, 255, 255, 0.23) 70px), linear-gradient(90deg, rgba(255, 255, 255, 0) 69px, rgba(255, 255, 255, 0.05) 69px, rgba(255, 255, 255, 0.21) 70px);
    background-size: 70px 70px, 70px 70px;
    padding-bottom: 250px; }

.team {
  background-color: black;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 69px, rgba(255, 255, 255, 0.22) 69px, rgba(255, 255, 255, 0.23) 70px), linear-gradient(90deg, rgba(255, 255, 255, 0) 69px, rgba(255, 255, 255, 0.05) 69px, rgba(255, 255, 255, 0.21) 70px);
  background-size: 70px 70px, 70px 70px;
  z-index: 1;
  position: relative;
  padding-bottom: 300px;
  padding-top: 400px;
  height: 100%; }
  @media screen and (max-width: 1200px) {
    .team {
      padding-bottom: 200px; } }
  @media screen and (max-width: 1000px) {
    .team {
      padding-top: 300px; } }
  .team .container {
    position: relative; }
  .team__img {
    padding: 50px 20px 20px 20px;
    background-color: white;
    border: 2px solid black;
    box-shadow: #485d74bf -8px 8px;
    position: relative;
    z-index: 10; }
    .team__img img {
      border: 2px solid black; }
    @media screen and (min-width: 1000px) {
      .team__img {
        width: 85%;
        margin-left: auto; } }
    @media screen and (min-width: 1000px) {
      .team__img {
        width: 50%; } }
  .team__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 25px;
    margin-bottom: 15px;
    position: absolute;
    width: 50%;
    z-index: 10;
    left: 20%;
    top: 30%; }
    @media screen and (max-width: 1200px) {
      .team__text {
        width: 65%;
        left: 10%; } }
    @media screen and (max-width: 1000px) {
      .team__text {
        right: 0;
        top: 100%; } }
    .team__text-p1 {
      display: block;
      background-color: white;
      border: 1px solid black;
      padding: 5px;
      box-shadow: #fff -13px -13px 0 0, #000 -14px -14px 0 0, #000 -12px -12px 0 0, #000 -12px -14px 0 0, #000 -14px -12px 0 0;
      position: relative;
      right: 5%;
      width: 100% !important; }
    .team__text-p2 {
      display: inline-block;
      background-color: white;
      border: 1px solid black;
      padding: 5px 30px;
      width: 90%;
      text-align: center;
      margin-bottom: 20px; }
  .team__link {
    display: block;
    color: white !important;
    margin: 0 auto;
    text-align: center;
    font-size: 20px; }

.events {
  background: #f47920;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 69px, rgba(0, 0, 0, 0.13) 69px, rgba(0, 0, 0, 0.05) 70px), linear-gradient(90deg, rgba(0, 0, 0, 0) 69px, rgba(0, 0, 0, 0.11) 69px, rgba(0, 0, 0, 0.05) 70px);
  background-size: 70px 70px, 70px 70px;
  position: relative;
  padding-bottom: 50px;
  padding-top: 100px; }
  .events__container {
    position: relative;
    max-width: 1296px;
    margin: 0 auto;
    overflow-x: hidden;
    padding: 10px; }
  .events__text-box1 {
    text-align: center;
    position: relative;
    z-index: 100; }
  .events__text-box2 {
    position: relative;
    z-index: 100; }
  .events__title {
    display: inline-block;
    background: #fff;
    padding: 5px 20px;
    border: 1px solid #000;
    position: relative;
    right: 11px;
    box-shadow: #fff -13px -13px 0 0, #000 -14px -14px 0 0, #000 -12px -12px 0 0, #000 -12px -14px 0 0, #000 -14px -12px 0 0;
    margin-bottom: 10px; }
  .events__title-2 {
    font-size: 30px;
    font-weight: 700; }
  .events__subtitle {
    box-shadow: #485d74bf 8px 8px;
    background: #fff;
    padding: 5px 20px;
    border: 1px solid #000;
    margin: -7px 0;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    color: #8d8d8d;
    display: inline-block; }
  .events__slider-container {
    margin-bottom: 50px;
    position: relative;
    z-index: 1; }
  .events__slider {
    display: flex !important;
    flex-direction: row-reverse;
    position: relative !important;
    left: -20%; }
    @media screen and (max-width: 600px) {
      .events__slider {
        left: 0; } }
  .events__text {
    background: black; }
  .events__link {
    position: absolute;
    right: 10%;
    top: 50%;
    color: #000;
    display: block; }
  .events .owl-item {
    padding: 30px 10px 10px 10px;
    background-color: white;
    box-shadow: #485d74bf 8px 8px;
    max-width: 500px !important; }
  .events .owl-nav {
    z-index: -1;
    top: 50%;
    transform: translateY(-50%); }

.artists__slider {
  width: 300px;
  margin-bottom: 50px;
  position: absolute; }
  @media screen and (max-width: 992px) {
    .artists__slider {
      position: relative;
      margin: 0 auto; } }
  .artists__slider img {
    width: 100px;
    border-radius: 50%;
    border: 1px solid white; }
  .artists__slider-img__container {
    width: 120px;
    margin-left: 50px;
    position: relative;
    top: 50px; }
  .artists__slider-text__container {
    padding: 50px 50px 50px 50px;
    background-image: url(../img/artists__slider.png);
    background-size: 100% 94%;
    background-position: bottom center;
    background-repeat: no-repeat;
    text-align: center; }
  .artists__slider-text {
    text-align: left; }

.burger-menu {
  background-color: black;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s linear; }
  .burger-menu.active {
    opacity: 1;
    visibility: visible; }
  .burger-menu__accordion {
    position: relative; }
  .burger-menu__accordion::before {
    content: "";
    width: 5px;
    height: 5px;
    display: inline-block;
    border: 7px solid transparent;
    border-top: 7px solid #d6e033;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%); }

.slider__icon-yellowWow {
  border: 1px solid black;
  background: white;
  padding: 20px 7px 7px;
  display: inline-block;
  position: absolute;
  top: 90%;
  right: 10%;
  z-index: 1; }
  .slider__icon-yellowWow-container {
    width: 100%;
    background: black;
    width: 160px;
    height: 160px; }
    @media screen and (max-width: 768px) {
      .slider__icon-yellowWow-container {
        width: 100px;
        height: 100px; } }
    .slider__icon-yellowWow-container img {
      width: 80px;
      margin: 0 auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }

.slider__icon-round {
  width: 270px;
  position: absolute;
  top: 0%;
  left: 10%; }

.slider__icon-dotsCube {
  position: absolute;
  bottom: 0;
  left: 10%; }

.about__icon-man {
  position: absolute;
  width: 270px;
  bottom: 120%;
  right: 25%;
  z-index: 3; }
  @media screen and (max-width: 768px) {
    .about__icon-man {
      right: 10%;
      bottom: 110%; } }
  .about__icon-man-container {
    position: relative; }

.about__icon-tapMan {
  position: absolute;
  top: 0;
  z-index: 4; }

.about__taps {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 15px;
  left: 31%;
  width: 100px;
  z-index: 5; }
  .about__taps img {
    width: 44px; }

.about__clockwise {
  animation: clockwise 4s linear infinite; }

.about__counterclockwise {
  transform: rotate(25deg);
  animation: clockwise 4s linear infinite reverse; }

.about__icon-round {
  width: 130px;
  position: absolute;
  bottom: 104%;
  right: 50%;
  z-index: 1; }

.about__icon-star {
  position: absolute;
  top: 0;
  z-index: 2; }

.about__icon-lightsLeft {
  position: absolute;
  top: 0;
  right: 60%;
  z-index: 1; }

.about__icon-lightsRight {
  position: absolute;
  top: 0;
  left: 60%;
  transform: scale(-1, 1);
  z-index: 1; }

.about__icon-wtf {
  background-color: white;
  border: 1px solid black;
  padding: 20px 7px 7px;
  position: absolute;
  bottom: 95%;
  left: 10%;
  box-shadow: #485d74bf 8px 8px;
  z-index: 999; }
  @media screen and (max-width: 992px) {
    .about__icon-wtf {
      bottom: 75%; } }
  @media screen and (max-width: 768px) {
    .about__icon-wtf {
      bottom: 70%; } }
  .about__icon-wtf-container {
    background-color: #f47920;
    border: 1px solid black;
    display: block;
    width: 140px;
    height: 130px;
    padding: 10px; }
    .about__icon-wtf-container img {
      height: 100%;
      margin: 0 auto; }

.about__icon-eye {
  display: inline-block;
  position: absolute;
  bottom: 97%;
  z-index: 100;
  left: 30%; }
  @media screen and (max-width: 1000px) {
    .about__icon-eye {
      left: 10%;
      bottom: 100%; } }
  .about__icon-eye-container {
    position: relative; }

.about__icon-iris {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 40px; }

.about__icon-x2 {
  position: absolute;
  bottom: 100%;
  right: 10%; }

.about__icon-hexagon {
  width: 130px; }

.about__icon-blueX {
  width: 70px;
  position: absolute;
  top: 5%;
  right: 107%; }

.about__icon-orangeX {
  width: 40px;
  position: absolute;
  bottom: 107%;
  right: 0; }

.about__icon-waves {
  position: absolute;
  right: 25%;
  top: 3%;
  z-index: 2;
  transform: scale(-1, 1); }

.about__linesInRound {
  position: absolute;
  bottom: 110%;
  right: 20%;
  width: 250px; }
  @media screen and (max-width: 768px) {
    .about__linesInRound {
      display: none; } }

.about__iconsX-white {
  position: absolute;
  top: 120%;
  z-index: 3; }

.about__icon-firstX {
  width: 60px;
  z-index: 1;
  position: absolute;
  bottom: 90%;
  right: 80%; }

.about__icon-hexagonX {
  width: 115px; }

.about__icon-secondX {
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 105%; }

.about__icon-lines {
  width: 140px;
  position: absolute;
  bottom: 110%;
  right: 40%; }
  @media screen and (max-width: 1000px) {
    .about__icon-lines {
      display: none; } }

.about__icon-lines_bottom {
  transform: scale(-1, 1);
  left: 30%;
  top: 90%;
  z-index: 0; }

.about__icon-lines_bottom2 {
  left: 27%;
  top: 200%;
  transform: scale(1, -1); }

.about__linesInRound_bottom {
  width: 200px;
  left: 10%;
  top: 90%;
  z-index: 0; }

.about__icons-microphone {
  width: 250px;
  position: absolute;
  left: 20%;
  top: 110%;
  z-index: 3; }

.about__icons-microphone_rightLights {
  width: 120px;
  position: absolute;
  top: 0;
  right: -15%;
  transform: scale(-1, 1); }

.about__icons-microphone_leftLights {
  width: 120px;
  position: absolute;
  top: 0;
  left: -15%; }

.about__icons-microphone_star {
  width: 260px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.about__icons-microphoneImg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  z-index: 10; }

@keyframes clockwise {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.stats__icon-round {
  position: absolute;
  bottom: 97%;
  left: 45%;
  width: 110px; }

.stats__icon-nice {
  position: absolute;
  top: 15%;
  right: 95%;
  background-color: white;
  padding: 20px 7px 7px;
  width: 160px;
  height: 160px;
  box-shadow: #485d74bf 8px 8px;
  z-index: 4;
  border: 1px solid black; }
  @media screen and (max-width: 768px) {
    .stats__icon-nice {
      top: 95%;
      left: 0; } }

.stats__icon-container {
  background-color: black;
  height: 100%; }
  .stats__icon-container img {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.stats__icon-star {
  position: absolute;
  width: 200px;
  right: -5%;
  top: 80%; }

.stats__icon-orangeStar {
  position: absolute;
  width: 200px;
  left: 10%;
  top: 110%;
  z-index: 1; }
  @media screen and (max-width: 768px) {
    .stats__icon-orangeStar {
      left: 50%; } }

.stats__icon-lines {
  position: absolute;
  width: 130px;
  left: 50%;
  bottom: -23%; }

.stats__icon-lines_2 {
  width: 110px;
  left: 10%;
  top: 100%; }

.stats__icon-dots {
  position: absolute;
  width: 110px;
  left: 35%;
  top: 120%; }

.stats__icon-round2 {
  position: absolute;
  width: 110px;
  left: 0;
  top: 120%; }

.stats__icon-linesInRound {
  position: absolute;
  width: 200px;
  left: 20%; }
  @media screen and (max-width: 768px) {
    .stats__icon-linesInRound {
      display: none; } }

.stats__icon-x {
  position: absolute;
  width: 65px;
  left: 40%;
  top: 115%; }

.cube {
  position: absolute;
  right: 0;
  top: 20%;
  height: 62px;
  width: 62px;
  z-index: 999;
  display: block; }
  .cube-container {
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(30deg);
    animation: rotate 6s linear infinite; }
  .cube__side {
    border-radius: 10px;
    width: 62px;
    height: 62px;
    border: 1px solid;
    transform-style: preserve-3d;
    border: 1px solid #3e3d3d;
    position: absolute; }
    .cube__side:nth-child(1) {
      transform: translateZ(31px);
      background-image: url(../img/cube.webp);
      background-repeat: no-repeat; }
    .cube__side:nth-child(2) {
      transform: rotateY(-90deg) translateZ(31px);
      background-image: url(../img/cube.webp);
      background-position: -60px 0px; }
    .cube__side:nth-child(3) {
      transform: rotateX(90deg) translateZ(31px);
      background-image: url(../img/cube.webp);
      background-repeat: no-repeat;
      background-position: -122px 0px; }
    .cube__side:nth-child(4) {
      transform: rotateY(180deg) translateZ(31px);
      background-image: url(../img/cube.webp);
      background-repeat: no-repeat;
      background-position: -183px 0px; }
    .cube__side:nth-child(5) {
      transform: rotateY(90deg) translateZ(31px);
      background-image: url(../img/cube.webp);
      background-repeat: no-repeat;
      background-position: -241px 0; }
    .cube__side:nth-child(6) {
      transform: rotateX(-90deg) translateZ(31px); }

@keyframes rotate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg); }
  100% {
    transform: rotateX(-30deg) rotateY(360deg); } }

.team__lead-text {
  border: 1px solid #000;
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 95%;
  right: 95%;
  z-index: 23;
  padding: 20px 7px 7px;
  background: #fff;
  box-shadow: #485d74bf 8px 8px; }
  @media screen and (max-width: 1050px) {
    .team__lead-text {
      right: 70%; } }
  @media screen and (max-width: 768px) {
    .team__lead-text {
      width: 150px; } }
  @media screen and (max-width: 555px) {
    .team__lead-text {
      right: 50%; } }
  .team__lead-text-container {
    background-color: #f47920;
    padding: 20px 40px; }
    @media screen and (max-width: 768px) {
      .team__lead-text-container {
        padding: 10px 25px; } }
  .team__lead-text-inner:nth-child(odd) {
    text-align: left; }
  .team__lead-text-inner:nth-child(even) {
    text-align: right; }

.team__icon-skate {
  width: 240px;
  position: absolute;
  top: 140%;
  right: 5%;
  z-index: 3; }

.team__icon-yellowStar {
  position: absolute;
  width: 200px;
  left: 90%;
  bottom: 85%; }

.team__icon-lines {
  position: absolute;
  width: 150px;
  transform: scale(1, -1);
  bottom: 120%;
  left: 10%; }
  @media screen and (max-width: 1000px) {
    .team__icon-lines {
      display: none; } }

.team__icon-lines_2 {
  left: 27%;
  bottom: 100%; }
  @media screen and (max-width: 1000px) {
    .team__icon-lines_2 {
      display: none; } }

.team__icon-linesInRound {
  position: absolute;
  width: 250px;
  left: 10%;
  bottom: 90%;
  opacity: 0.3;
  transform: scale(1, -1); }

.team__icon-linesInRound_2 {
  left: 45%;
  bottom: 80%; }

.team__icon-x {
  position: absolute;
  width: 50px;
  bottom: 90%;
  left: 12%; }

.team__icon-round {
  position: absolute;
  width: 150px;
  left: 32%;
  bottom: 50%;
  z-index: 0;
  z-index: 2; }

.team__icon-girl {
  position: absolute;
  width: 300px;
  z-index: 3;
  left: 15%;
  bottom: 110%; }
  @media screen and (max-width: 1000px) {
    .team__icon-girl {
      bottom: 150%;
      left: 25%; } }
  @media screen and (max-width: 768px) {
    .team__icon-girl {
      bottom: 220%;
      left: 0;
      transform: scale(0.8); } }

.team__girl {
  position: absolute;
  z-index: 3; }

.team__lights-left {
  position: absolute;
  right: 40%; }

.team__lights-right {
  position: absolute;
  left: 60%;
  transform: scale(-1, 1); }

.team__star {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 2; }

.team__icon-dots {
  position: absolute;
  width: 100px;
  top: 0;
  right: 15%;
  z-index: 11; }

.team__icon-quiz {
  position: absolute;
  left: -10%;
  bottom: 0%;
  z-index: 1;
  width: 100px; }

.team__icon-quiz1 {
  width: 100px;
  position: absolute;
  z-index: 2;
  right: 0%; }

.team__icon-quiz2 {
  width: 100px;
  position: absolute;
  left: 0px;
  opacity: 0.3;
  transform: rotate(-15deg);
  z-index: 1; }

.events__icon-yes {
  width: 140px;
  border: 1px solid #000;
  display: inline-block;
  padding: 20px 7px 7px;
  background: #fff;
  box-shadow: #485d74bf 8px 8px;
  position: absolute;
  top: 10%;
  right: 14%; }

.events__icon-container {
  background-color: black;
  padding: 15px; }

.ever__icon-linesInRound {
  position: absolute;
  width: 245px;
  bottom: 130%;
  left: 29%; }

.ever__icon-dottedHexagon {
  position: absolute;
  width: 120px;
  left: 20%;
  bottom: 130%; }

.ever__icon-diagonalLine {
  position: absolute;
  width: 160px;
  left: 25%;
  bottom: 80%; }
  @media screen and (max-width: 768px) {
    .ever__icon-diagonalLine {
      display: none; } }

.ever__icon-diagonalLine_2 {
  position: absolute;
  bottom: 105%;
  left: 45%; }

.ever__icon-dottedCube {
  position: absolute;
  width: 100px;
  right: 10%;
  bottom: 85%; }

.ever__icon-round {
  position: absolute;
  width: 100px;
  bottom: 85%;
  left: 15%; }

.ever__icon-x {
  position: absolute;
  width: 70px;
  bottom: 160%;
  right: 50%; }

.ever__icon-guitarMan {
  position: absolute;
  width: 300px;
  bottom: 145%;
  left: 15%; }
  @media screen and (max-width: 881px) {
    .ever__icon-guitarMan {
      left: 0%;
      transform: scale(0.8); } }

.ever__icon-lightsLeft {
  width: 185px;
  position: absolute; }

.ever__icon-lightsRight {
  width: 185px;
  position: absolute;
  transform: scale(-1, 1);
  left: 100%; }

.ever__icon-star {
  position: absolute;
  left: 35%;
  transform: translateX(-50); }

.ever__icon-man {
  position: absolute;
  left: 100%;
  transform: translateX(-50%) translateY(-120px); }

.footer .container {
  position: relative; }

.footer__icon-dottedCub {
  position: absolute;
  left: 15%;
  bottom: 70%; }

.footer__icon-dottedCub {
  position: absolute; }

.footer__icon-dottedCub_horizontal {
  transform: rotate(90deg);
  left: 95%; }

.footer__icon-dottedCub_horizontal-2 {
  left: 70%;
  bottom: -20%;
  transform: rotate(90deg);
  width: 80px; }

.footer__icon-linesInRound {
  position: absolute;
  width: 200px;
  right: 15%;
  bottom: 80%; }

.ever {
  background: #f47920;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 69px, rgba(0, 0, 0, 0.13) 69px, rgba(0, 0, 0, 0.05) 70px), linear-gradient(90deg, rgba(0, 0, 0, 0) 69px, rgba(0, 0, 0, 0.11) 69px, rgba(0, 0, 0, 0.05) 70px);
  background-size: 70px 70px, 70px 70px;
  padding-top: 250px;
  padding-bottom: 100px; }
  .ever .container {
    position: relative !important; }
  .ever__title {
    background-color: white;
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid black;
    position: relative;
    box-shadow: #fff -13px -13px 0 0, #000 -14px -14px 0 0, #000 -12px -12px 0 0, #000 -12px -14px 0 0, #000 -14px -12px 0 0;
    margin-bottom: 100px;
    position: absolute;
    right: 30%;
    bottom: 90%;
    z-index: 3; }
    @media screen and (max-width: 555px) {
      .ever__title {
        right: 5%; } }
    @media screen and (max-width: 405px) {
      .ever__title {
        right: 1%;
        margin: 0 auto; } }
  .ever__sliders-container {
    display: flex;
    justify-content: space-around; }
  .ever__leftSlider {
    max-width: 300px; }
    @media screen and (max-width: 1100px) {
      .ever__leftSlider {
        max-width: none; } }
  .ever__rightSlider {
    max-width: 75%; }
    @media screen and (max-width: 1100px) {
      .ever__rightSlider {
        display: none !important; } }

.leftSlider__item {
  position: relative;
  min-width: 280px;
  height: 350px; }

.leftSlider__textBox {
  width: 210px;
  position: absolute;
  top: 150px;
  left: 40px; }

.leftSlider__avatarImg {
  position: absolute;
  top: 0;
  left: 50px;
  width: 100px; }

.leftSlider__avatarImg {
  border-radius: 50%;
  border: 1px solid white; }

.leftSlider__background {
  height: 300px;
  width: 300px !important;
  margin-top: 70px; }

.owl-item {
  background: none;
  padding: 0;
  box-shadow: none; }

.owl-carousel .owl-item img {
  width: auto; }

.rightSlider__item {
  padding: 20px; }

.rightSlider__image-container {
  max-width: 240px;
  margin-bottom: 20px;
  position: relative; }
  .rightSlider__image-container img {
    width: 100% !important;
    border: 10px solid white;
    box-shadow: #8d8d8d 10px -10px 0 0, #fff 10px -10px 0 0, #fff 16px -15px 0 0, #fff 16px -5px 0 0, #fff 15px -5px 0 0, #fff 5px -15px 0 0; }

.rightSlider__yellowRound {
  width: 60px;
  height: 60px;
  background: #d6e033;
  border-radius: 50%;
  border: 8px solid white;
  position: absolute;
  bottom: 80%;
  right: -10%; }

.owl-nav {
  position: absolute;
  top: 50%;
  width: 110%;
  left: -5%;
  display: flex;
  justify-content: space-between; }

.header {
  background-color: black;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 69px, rgba(255, 255, 255, 0.22) 69px, rgba(255, 255, 255, 0.23) 70px), linear-gradient(90deg, rgba(255, 255, 255, 0) 69px, rgba(255, 255, 255, 0.05) 69px, rgba(255, 255, 255, 0.21) 70px);
  background-size: 70px 70px, 70px 70px;
  overflow-x: hidden !important; }
  .header__logo {
    width: 210px; }
    .header__logo img {
      width: 100%; }
  .header__item:last-child {
    padding: 8px 16px !important; }

.burger-icon {
  width: 30px;
  fill: white;
  background: black; }

.footer {
  background-color: #d6e033;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 69px, rgba(0, 0, 0, 0.13) 69px, rgba(0, 0, 0, 0.05) 70px), linear-gradient(90deg, rgba(0, 0, 0, 0) 69px, rgba(0, 0, 0, 0.11) 69px, rgba(0, 0, 0, 0.05) 70px);
  background-size: 70px 70px, 70px 70px;
  padding-top: 200px;
  padding-bottom: 200px; }
  .footer__text-box {
    text-align: center;
    margin-bottom: 50px; }
  .footer__title {
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    padding: 5px 30px;
    margin: 0;
    position: relative;
    z-index: 2; }
  .footer__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    z-index: 3; }
  .footer__link {
    display: block;
    width: 100%; }
  .footer__link img {
    width: 126px;
    height: 102px;
    border: 1px solid black; }
  .footer__item {
    width: 150px;
    height: 150px;
    background-color: white;
    border: 1px solid black;
    padding: 20px 10px 10px 10px;
    background-color: white;
    text-align: center;
    transition: all .2s linear; }
    .footer__item svg {
      width: 80%;
      border: 1px solid black;
      padding: 5px; }
  .footer__item:hover {
    transform: scale(1.1); }

.about {
  background-color: #d6e033;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 69px, rgba(0, 0, 0, 0.13) 69px, rgba(0, 0, 0, 0.05) 70px), linear-gradient(90deg, rgba(0, 0, 0, 0) 69px, rgba(0, 0, 0, 0.11) 69px, rgba(0, 0, 0, 0.05) 70px);
  background-size: 70px 70px, 70px 70px;
  padding-bottom: 0px;
  position: relative;
  padding-top: 400px;
  padding-bottom: 250px; }
  @media screen and (max-width: 1200px) {
    .about {
      padding-bottom: 400px; } }
  @media screen and (max-width: 768px) {
    .about {
      padding-top: 200px; } }
  .about .container {
    position: relative; }
  .about__mainInfo {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .about__mainInfo {
        flex-direction: column; } }
  .about__img-container {
    width: 100%;
    max-width: 520px;
    background-color: white;
    padding: 25px 10px;
    box-shadow: #485d74bf 8px 8px;
    z-index: 4; }
    @media screen and (max-width: 768px) {
      .about__img-container {
        width: 100%;
        position: relative;
        top: 200px; } }
  .about__img {
    width: 100%; }
  .about__text-outer {
    max-width: 754px;
    width: 100%;
    position: relative;
    z-index: 999;
    left: -5%;
    top: 150px; }
    @media screen and (max-width: 600px) {
      .about__text-outer {
        left: 0; } }
  .about__text-container {
    background-color: white;
    outline: 1px solid black;
    box-shadow: #00000091 8px 8px 0 0;
    margin-left: auto; }
  .about__heading {
    position: absolute;
    top: -50px;
    left: 50px;
    background-color: white;
    outline: 1px solid black;
    padding: 5px 10px;
    box-shadow: #fff 13px -13px 0 0, #000 14px -14px 0 0, #000 12px -12px 0 0, #000 12px -14px 0 0, #000 14px -12px 0 0; }
  .about__title {
    margin: 0;
    font-family: "troublefont"; }
  .about__paragraph {
    padding: 40px 20px; }

.stats {
  background-color: #d6e033;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 69px, rgba(0, 0, 0, 0.13) 69px, rgba(0, 0, 0, 0.05) 70px), linear-gradient(90deg, rgba(0, 0, 0, 0) 69px, rgba(0, 0, 0, 0.11) 69px, rgba(0, 0, 0, 0.05) 70px);
  background-size: 70px 70px, 70px 70px;
  padding-bottom: 500px;
  position: relative; }
  @media screen and (max-width: 1200px) {
    .stats {
      padding-bottom: 350px; } }
  .stats .container {
    position: relative; }
  .stats__row {
    position: relative;
    z-index: 3; }
  .stats__digits {
    padding: 60px 20px 30px 77px;
    background-color: white;
    box-shadow: #485d74bf -8px 8px;
    z-index: 1;
    position: relative;
    width: 75%;
    margin-left: auto; }
    @media screen and (max-width: 1200px) {
      .stats__digits {
        width: 85%; } }
    @media screen and (max-width: 768px) {
      .stats__digits {
        width: 100%; } }
  .stats__item {
    padding: 0;
    text-align: center; }
  .stats__heading {
    display: inline-block;
    text-align: center;
    position: absolute;
    right: 10%;
    bottom: 97%;
    z-index: 100; }
    @media screen and (max-width: 768px) {
      .stats__heading {
        font-size: 35px; } }
  .stats__item-title {
    width: 75%; }
  .stats__title-p1 {
    display: inline-block;
    background-color: white;
    padding: 5px 10px;
    border: 1px solid black;
    box-shadow: #fff -13px -13px 0 0, #000 -14px -14px 0 0, #000 -12px -12px 0 0, #000 -12px -14px 0 0, #000 -14px -12px 0 0;
    margin: 0 auto; }
  .stats__title-p2 {
    display: block;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid black;
    position: relative;
    width: 30%;
    width: fit-content; }
  .stats__img {
    width: 170px;
    background-color: white;
    display: inline-block;
    padding: 20px 10px 10px 10px;
    border: 1px solid black;
    position: relative;
    top: -50px;
    z-index: 1; }
    .stats__img-container {
      background-color: black;
      display: inline-block;
      padding: 5px; }
