.header {
   background-color: black;
   background-image: linear-gradient(rgba(255, 255, 255, 0) 69px, rgba(255, 255, 255, 0.22) 69px, rgba(255, 255, 255, 0.23) 70px),
      linear-gradient(90deg, rgba(255, 255, 255, 0) 69px, rgba(255, 255, 255, 0.05) 69px, rgba(255, 255, 255, 0.21) 70px);
   background-size: 70px 70px, 70px 70px;
   overflow-x: hidden!important;
   
   &__logo {
      width: 210px;

      @media screen and (max-width:1000px) {
         width: 150px;
      }

      & img {
         width: 100%;
      }
   }

   &__login {
      @media screen and (max-width: 1400px) {
         margin-right: 50px;
         margin-left: auto !important;
      }
   }

   &__item {
      display: flex;
      align-items: center;
   }


}

.burger-icon {
   width: 30px;
   fill: white;
   background: black;
}
