.adv-slider {
	position: absolute;
	top: 140%;

	&__container {
		background-image: linear-gradient(rgba(255, 255, 255, 0) 69px, rgba(255, 255, 255, 0.22) 69px, rgba(255, 255, 255, 0.23) 70px),
			linear-gradient(90deg, rgba(255, 255, 255, 0) 69px, rgba(255, 255, 255, 0.05) 69px, rgba(255, 255, 255, 0.21) 70px);
		background-size: 70px 70px, 70px 70px;
		padding-bottom: 250px;
	}
}

