.artists__slider {
   width: 300px;
   margin-bottom: 50px;
   position: absolute;

   @media screen and (max-width:992px) {
    position: relative;
    margin: 0 auto;
   }

   & img {
      width: 100px;
      border-radius: 50%;
      border: 1px solid white;
   }

   &-img__container {
      width: 120px;
      margin-left: 50px;
      position: relative;
      top: 50px;
   }

   &-text__container {
     
      padding: 50px 50px 50px 50px;
      background-image: url(../img/artists__slider.png);
      background-size: 100% 94%;
      background-position: bottom center;
      background-repeat: no-repeat;
      text-align: center;
   }

   &-text {
      text-align: left;
   }
}

