.burger-menu {
	background-color: black;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	width: 100%;
	z-index: 1000;
	transition: all 0.3s linear;

	&.active {
		opacity: 1;
		visibility: visible;
	}

  &__accordion {
    position: relative;

  }

	&__accordion::before {

		content: "";
    width: 5px;
    height: 5px;
		display: inline-block;
		border: 7px solid transparent;
		border-top: 7px solid #d6e033;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);

	}
}
