.burger-menu {
	background-color: black;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	width: 100%;
	z-index: 1000;
	transition: all 0.3s linear;

	&.active {
		opacity: 1;
		visibility: visible;
	}

	&__list {
		gap: 20px;
	}

  &__accordion {
    position: relative;
  }

	&__accordion::before {
		content: "";
    width: 5px;
    height: 5px;
		display: inline-block;
		border: 7px solid transparent;
		border-top: 7px solid #d6e033;
    position: absolute;
    left: 110%;
    top: 10px;
    transform: translateY(-50%);
	}

	&__item {
		width: 120px;
		text-align: center;
		transition: all .3s linear;

		&:hover a{
			color: #d6e033 !important;
		}
	}

	&__item a {
		color: white;
	}
}
