.events {
	background: #f47920;
	background-image: linear-gradient(rgba(000, 000, 000, 0) 69px, rgba(0, 0, 0, 0.13) 69px, rgba(0, 0, 0, 0.05) 70px),
		linear-gradient(90deg, rgba(000, 000, 000, 0) 69px, rgba(0, 0, 0, 0.11) 69px, rgba(0, 0, 0, 0.05) 70px);
	background-size: 70px 70px, 70px 70px;
	position: relative;
	padding-bottom: 50px;
	padding-top: 100px;


	// & .container {
	// 	position: relative;
	// }

	&__container {
		position: relative;
		max-width: 1296px;
		margin: 0 auto;
		overflow-x: hidden;
		padding: 10px;
	}

	&__text-box1 {
		text-align: center;
		position: relative;
		z-index: 100;
	}

	&__text-box2 {
		position: relative;
		z-index: 100;
	}

	&__title {
		display: inline-block;
		background: #fff;
		padding: 5px 20px;
		border: 1px solid #000;
		position: relative;
		right: 11px;
		box-shadow: #fff -13px -13px 0 0, #000 -14px -14px 0 0, #000 -12px -12px 0 0, #000 -12px -14px 0 0, #000 -14px -12px 0 0;
		margin-bottom: 10px;
	}

	&__title-2 {
		font-size: 30px;
		font-weight: 700;
	}

	&__subtitle {
		box-shadow: #485d74bf 8px 8px;
		background: #fff;
		padding: 5px 20px;
		border: 1px solid #000;
		margin: -7px 0;
		position: relative;
		z-index: 1;
		margin-bottom: 30px;
		color: #8d8d8d;
		display: inline-block;
	}

	&__slider-container {
		margin-bottom: 50px;
		position: relative;
		z-index: 1;
	}

  &__slider {
    display: flex !important;
    flex-direction: row-reverse;
    position: relative !important;
    left: -20%;
  
    @media screen and (max-width: 600px) {
      left: 0;
    }
  }

	&__text {
		background: black;	
	}

	&__link {
    position: absolute;
    right: 10%;
    top: 50%;

		color: #000;
		display: block;
    
	}
	
	& .owl-item {
		padding: 30px 10px 10px 10px;
		background-color: white;
		box-shadow: #485d74bf 8px 8px;
		max-width: 500px !important;
	}

	& .owl-nav {
		// position: absolute;
		z-index: -1;
		top: 50%;
		transform: translateY(-50%);
	}

}

