.events {
  background: #f47920;
    background-image: linear-gradient(rgba(000, 000, 000, 0) 69px, rgba(0, 0, 0, 0.13) 69px, rgba(0, 0, 0, 0.05) 70px), linear-gradient(90deg, rgba(000, 000, 000, 0) 69px, rgba(0, 0, 0, 0.11) 69px, rgba(0, 0, 0, 0.05) 70px);
    background-size: 70px 70px, 70px 70px; 
    position: relative;
    padding-bottom: 300px !important;
}

.events__slider {
  display: flex !important;
  flex-direction: row-reverse;
  position: relative !important;
  left: -10%;

  @media screen and (max-width:600px) {
    left: 0;
  }
} 

.events .owl-nav {
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}