.slider {
	position: relative;
	background-color: black;
	background-image: linear-gradient(rgba(255, 255, 255, 0) 69px, rgba(255, 255, 255, 0.22) 69px, rgba(255, 255, 255, 0.23) 70px),
		linear-gradient(90deg, rgba(255, 255, 255, 0) 69px, rgba(255, 255, 255, 0.05) 69px, rgba(255, 255, 255, 0.21) 70px);
	background-size: 70px 70px, 70px 70px;
	height: 700px;

	@media screen and (max-width: 1200px) {
		height: 400px;
	}

	@media screen and (max-width: 1000px) {
		padding-top: 200px;
		height: 700px;
	}

	& .container {
		position: relative;
	}

	&__heading {
		padding: 30px 15px;
		background-color: white;
		box-shadow: #f47920 10px 10px;
		z-index: 1;

		@media screen and (min-width: 992px) {
			width: 75% !important;
			margin-left: auto;
		}
	}
	&__heading {
		@media screen and (min-width: 1440px) {
			position: relative;
			top: 100px;
		}
	}

	&__inner {
		overflow: visible;
	}

	&__item {
		position: relative !important;
		animation: filter 1s linear;
	}

	@keyframes filter {
		0% {
			filter: grayscale(0%);
		}
		20% {
			filter: grayscale(100%);
		}
		50% {
			filter: grayscale(80%);
		}
		100% {
			filter: grayscale(0%);
		}
	}

	&__caption-container {
		position: absolute !important;
		z-index: 100;
		text-align: left;
		width: 100% !important;
		display: inline-block !important;
		top: 10%;

		@media screen and (max-width: 1000px) {
			left: 0;
			top: unset;
			right: 0;
			bottom: 100%;
		}
	}



	&__caption {
		display: inline-block;
		padding: 15px;
		background-color: white !important;
		position: relative;
		right: 40%;
		max-width: 60%;

		@media screen and (max-width: 1000px) {
			display: block;
			right: 0;
			bottom: 100%;
		}
	}



  

	&__btn {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: black;
		box-shadow: #fff -4px -1px 0;
		position: absolute;
		top: 50%;
		opacity: 1;

		& svg {
			fill: white;
			padding: 5px;
		}
	}
}
