*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
min-width: 320px;
}

body {
  font-family: 'Roboto', sans-serif;
  
}

.container {
  width: auto !important;
}

p {
  margin: 0 ;
}