*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
cursor: url(../img/cursor.png), auto;
overflow-x: hidden;
}

ul {
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

a {
  transition: all .3s linear;
}

a:hover {
  color: #d6e033 !important;
}

@font-face {
  font-family: 'dinbt';
  src: url('../font/dinbd.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'troublefont';
  src: url('../font/troublefont.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Times', sans-serif;
  min-width: 375px;
}

