*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
cursor: url(../img/cursor.png), auto;
}

body {
 
}

.wrapper {
  overflow-x: hidden;
}

a {
  transition: all .3s linear;
}

@font-face {
  font-family: 'dinbt';
  src: url('../font/dinbd.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'troublefont';
  src: url('../font/troublefont.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Times', sans-serif;
  min-width: 375px;
}

