.header {

  &__item {
    font-size: 16px;

    & a {
      color: white;

      &:hover,
      &:active,
      &:focus {
        color: $color-yellow;
      }
    }
  }

  &__login {
    color: $color-yellow;
  }
}

.slider {
  color: white;

  &__caption {
    font-size: 40px;
    color: black;
    text-transform: uppercase;
  }
}

.stats__item-digits {
  display: inline;
  color: #f47920;
  font-size: 56px;
  margin: 0 auto;
}

.team {
font-size: 20px;
font-weight: 700;
color: black;
  
}

.events__text {
  text-align: right;
    color: #fff;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
}

.artists__slider {

  &-title {
    color: #f47920;
    font-size: 25px;
  }

  &-name {
    text-transform: uppercase;
  }
}

.events__text-box2 {
  text-align: center;
}

.events__title-2 {
  display: inline-block;
  background-color: white;
  padding: 5px 10px;
  border: 1px solid black;
  box-shadow: #fff -13px -13px 0 0, #000 -14px -14px 0 0, #000 -12px -12px 0 0, #000 -12px -14px 0 0, #000 -14px -12px 0 0;
}
