.about {
   background-color: $color-yellow;
   background-image: linear-gradient(rgba(000, 000, 000, 0) 69px, rgba(0, 0, 0, 0.13) 69px, rgba(0, 0, 0, 0.05) 70px),
      linear-gradient(90deg, rgba(000, 000, 000, 0) 69px, rgba(0, 0, 0, 0.11) 69px, rgba(0, 0, 0, 0.05) 70px);
   background-size: 70px 70px, 70px 70px;
   overflow-x: hidden !important;
   padding-bottom: 500px;
   position: relative;

   &__img-container {
      width: 95%;
      background-color: white;
      padding: 15px 10px;
      box-shadow: #485d74bf 8px 8px;
   }

   &__img {
      width: 100%;
   }

   &__text-container {
      width: 90%;
      background-color: white;
      outline: 1px solid black;
      box-shadow: #00000091 8px 8px 0 0;
      padding: 20px 10px;
      position: relative;
      margin: -20px 0 30px;
      margin-left: auto;
   }

   &__heading {
      position: absolute;
      top: -20px;
      left: 50px;
      background-color: white;
      outline: 1px solid black;
      padding: 5px 10px;
      box-shadow: #fff 13px -13px 0 0, #000 14px -14px 0 0, #000 12px -12px 0 0, #000 12px -14px 0 0, #000 14px -12px 0 0;
   }

   &__title {
      margin: 0;
   }

   &__link {
      color: black;
      margin-left: 10%;
      position: relative;

      &::after {
         content: "";
         display: block;
         width: 50px;
         height: 2px;
         position: absolute;
         top: -10px;
      }
   }
}

.icons__x {
   position: relative;
}

.x-first {
   width: 10%;
   position: relative;
   z-index: 1;
}

.x-second {
   width: 20%;
   position: absolute;
   top: 50px;
}

.x-dots {
   width: 20%;
   position: absolute;
   top: 15px;
   left: 15px;
}

.icons__micro {
   margin-left: auto;
   width: 250px;
   position: relative;
}

.microphone-container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 50px;
   z-index: 10;

   & img {
      width: 100%;
   }
}

.lights-right {
   width: 120px;
   position: absolute;
   top: -50%;
   left: 60%;
   transform: scale(-1, 1);
}

.lights-left {
   width: 120px;
   position: absolute;
   top: 50%;
   left: 20%;
   transform: translate(-50%, -50%);
}

.burst {
   width: 150px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.about-icon__round {
   width: 150px;
   position: absolute;
   top: 70%;
   left: 50%;
   z-index: 1;
}

.icon__lines {
   width: 150px;
   transform: scale(-1, 1);
   position: absolute;
   left: 30%;
   top: 70%;
}

.cube {
   position: absolute;
   left: 50%;
   transform-style: preserve-3d;
   transform: rotateX(-30deg) rotateY(30deg);
   animation: rotate 6s linear infinite;
   perspective: 1000px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: mask 6s linear infinite;
  }

   &__side {
      border-radius: 10px;
      font-size: 62px;
      width: 1em;
      height: 1em;
      margin: -0.5em 0 0 -0.5em;
      border: 1px solid;
      transform-style: preserve-3d;
      border: 1px solid #3e3d3d;

      &:nth-child(1) {
         transform: translateZ(0.5em);
         background-image: url(../img/cube.jpg);
         background-repeat: no-repeat;
      }

      &:nth-child(2) {
         transform: rotateY(-90deg) translateZ(0.5em);
         background-image: url(../img/cube.jpg);
         background-repeat: no-repeat;
         background-position: -60px 0px;
      }

      &:nth-child(3) {
         background-image: url(../img/cube.jpg);
         transform: rotateX(90deg) translateZ(0.5em);
         background-repeat: no-repeat;
         background-position: -122px 0px;
      }

      &:nth-child(4) {
         transform: rotateY(180deg) translateZ(0.5em);
         background-image: url(../img/cube.jpg);
         background-repeat: no-repeat;
         background-position: -183px 0px;

         &:nth-child(5) {
            background-image: url(../img/cube.jpg);
            transform: rotateY(90deg) translateZ(0.5em);
            background-repeat: no-repeat;
            background-position: -241px 0;
         }

         &:nth-child(6) {
            transform: rotateX(-90deg) translateZ(0.5em);
         }
      }
   }

   @keyframes rotate {
    0% {
      transform: rotateX(-30deg) rotateY(-150deg);
    }

    100% {
      transform: rotateX(-30deg) rotateY(210deg);
    }
   }
}
