.stats {
  background-color: $color-yellow;
  background-image: linear-gradient(rgba(000, 000, 000, 0) 69px, rgba(0, 0, 0, 0.13) 69px, rgba(0, 0, 0, 0.05) 70px), linear-gradient(90deg, rgba(000, 000, 000, 0) 69px, rgba(0, 0, 0, 0.11) 69px, rgba(0, 0, 0, 0.05) 70px);
  background-size: 70px 70px, 70px 70px;
  overflow-x: hidden!important;
  padding-bottom: 100px;
  
  
  &__digits {
    padding: 100px 20px; 
    background-color: white;
    box-shadow: #485d74bf -8px 8px;
    z-index: 1;
    position: relative;
  }

  &__item {
    padding: 0;
    text-align: center;
  }

  &__item-title {
    width: 80%;
    margin: 0 auto;
  }

  &__item-digits {
    width: 80%;
    margin: 0 auto;
  }

  &__heading {
    text-align: center;
    position: relative;
    bottom: -20px
  }

  &__title-p1 {
    display: inline-block;
    background-color: white;
    padding: 5px 10px;
    border: 1px solid black;
    box-shadow: #fff -13px -13px 0 0, #000 -14px -14px 0 0, #000 -12px -12px 0 0, #000 -12px -14px 0 0, #000 -14px -12px 0 0;
    margin: 0 auto;
    }

  &__title-p2 {
    display: inline-block;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid black;
  }

  &__img {
    width: 170px;
    background-color: white;
    display: inline-block;
    padding: 20px 10px 10px 10px;
    border: 1px solid black;
    position: relative;
    top: -50px;
    z-index: 1;

    &-container {
      background-color: black;
      display: inline-block;
      padding: 5px;
    }
  }
}

.stats__icons {
  position: relative;
}

.cube {
  height: 100px;
  width: 100px;
  position: absolute;
  right: -100px;
  top: -200%;
  

  &-container {
     transform-style: preserve-3d;
     animation: rotate 6s linear infinite;
  }

  &__side {
     border-radius: 10px;
     width: 62px;
     height: 62px;
     border: 1px solid;
     transform-style: preserve-3d;
     border: 1px solid #3e3d3d;
     position: absolute;
     margin: 0 0 0 22px;

     &:nth-child(1) {
        transform: translateZ(31px);
        background-image: url(../img/cube.jpg);
        background-repeat: no-repeat;
     }

     &:nth-child(2) {
        transform: rotateY(-90deg) translateZ(31px);
        background-image: url(../img/cube.jpg);
        background-position: -60px 0px;
     }

     &:nth-child(3) {
        transform: rotateX(90deg) translateZ(31px);
        background-image: url(../img/cube.jpg);
        background-repeat: no-repeat;
        background-position: -122px 0px;
     }

     &:nth-child(4) {
        transform: rotateY(180deg) translateZ(31px);
        background-image: url(../img/cube.jpg);
        background-repeat: no-repeat;
        background-position: -183px 0px;
     }

     &:nth-child(5) {
        transform: rotateY(90deg) translateZ(31px);
        background-image: url(../img/cube.jpg);
        background-repeat: no-repeat;
        background-position: -241px 0;
     }

     &:nth-child(6) {
       transform: rotateX(-90deg) translateZ(31px);
     }
  }

  @keyframes rotate {
     0% {
        transform: rotateX(-30deg) rotateY(0deg);
     }

     100% {
        transform: rotateX(-30deg) rotateY(360deg);
     }
  }
}


.stats__icon-lines {
  width: 70px;
  position: absolute;
  left: 50%;
  top: -5%;
  z-index: 0;
}

.blue-burst__container {
  width: 200px;
  position: absolute;
  right: 0;
  top: -10%;
}

.stats__icon-dots-container {
  width: 80px;
  position: absolute;
  left: -10%;
  top: 10%;
}

.stats__icon-round {
  width: 95px;
}

.stats__icon-orange-burst {
  width: 120px;
  position: absolute;
  right: 5%;
}
